<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible' content='ie=edge'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='../styles/styles.css'>
  <title>Vinyl DB</title>
</head>

<body>
  <main>
    <h1>Search</h1>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/search'>Search</a></li>
        <li><a href='/collection'>My Collection</a></li>
      </ul>
    </nav>
    <section id='record-details'>
      <form action='/records' method='POST'>
        <!--HIDDEN INPUTS ARE NEEDED TO PASS DATA TO SERVER FROM API RESPONSE-->
        <input name='discogsId' type='hidden'></input>
        <input name='thumb' type='hidden'></input>
        <img src=''>
        <label for='artist'>Artist
          <input name='artist' type='text'></input>
        </label>
        <label for='album'>Album
          <input name='album' type='text'></input>
        </label>
        <label for='releaseYear'>Release Year
          <input name='releaseYear' type='text'></input>
        </label>
        <label for='genre'>Genre
          <input name='genre' type='text'></input>
        </label>
        <button type='submit'>Add to collection</button>
      </form>
    </section>
  </main>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
    crossorigin='anonymous'></script>
  <script src='../scripts/jq-serialize-obj.js'></script>
  <script src='../scripts/search-details.js'></script>
</body>

</html>