doctype html

html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    main
      h1 Sign up
      form(action='/signup' method='POST')
        label(for='username' type='text') Username
          input(name='username', type='text')
        label(for='email' type='text') Email
          input(name='email', type='text')
        label(for='password' type='text') Password
          input(name='password', type='text')
        button(type='submit') Create Account


    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js')
    script(src='/scripts/app.js')
    script(src='/scripts/nav.js')
