<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <title>Document</title>
</head>

<body>
  <h1>Signup</h1>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/sign-up'>Sign Up</a></li>
    </ul>
  </nav>
</body>

</html>