$colors: #f2385a, #f5a503, #e9f1df, #56d9cd, #3aa1bf;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1)+$dash-gap * $max;
$time: 6s;
$time-step: $time/$max;
/* Main styles */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}
/* Other styles */

text {
  background: #111;
  background-size: .2em 100%;
  font: 5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

.safety {
  width: 100vw;
  button#safety {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    position: absolute;
    padding: 10px 50px;
    border: 2px solid #f2385a;
    background: transparent;
    color: #f2385a;
    text-transform: uppercase;
    font-size: 11px;
    transition-property: background, color;
    transition-duration: 0.2s;
    &:hover {
      color: white;
      background: #f2385a;
      transition-property: background, color;
    }
    a {
      text-decoration: none;
      color: #f2385a;
      &:hover {
        color: white;
        background: #f2385a;
        transition-property: background, color;
      }
    }
  }
}
