.switch-button {
  position: relative;
  width: 100%;
  height: 2rem;
  input[type='radio'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
    &:first-of-type {
      left: 0%;
    }
    &:last-of-type {
      left: 50%;
    }
    &+label {
      position: absolute;
      width: 50%;
      background: darken(#ececec, 10%);
      line-height: 2rem;
      text-align: center;
      z-index: 0;
      &:first-of-type {
        left: 0%;
      }
      &:last-of-type {
        left: 50%;
      }
    }
  }
  input[type='radio']:checked {
    cursor: default;
    &+label {
      background: #74c2b2;
      color: #fff;
    }
    &+label.advanced {
      background: #ea7172;
    }
  }
}