@import 'navbar';
@import 'modal';
@import 'input';
@import 'foldout-cards';
@import 'form-toggle';
@import '404';
@import 'album';
// - - - - - - - - - - - - - - - - - - - - - - - - -
// RWD HELPERS 
// - - - - - - - - - - - - - - - - - - - - - - - - -
@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;
  @return calc(#{$base} + #{100vw * $slope});
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// BREAKPOINTS
// - - - - - - - - - - - - - - - - - - - - - - - - -
$bp-xxsmall: 320px;
$bp-xsmall: 576px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;
// - - - - - - - - - - - - - - - - - - - - - - - - -
// COLORS
// - - - - - - - - - - - - - - - - - - - - - - - - -
$PINKISH: #F2385A;
$KINDAYELLOW: #FFD166;
$MINTYGREEN: #06D6A0;
$SKYBLUE: #118AB2;
$DARKTEAL: #073B4C;
$DARKTEAL2: #2c3e51;
// - - - - - - - - - - - - - - - - - - - - - - - - -
// GLOBALS //
// - - - - - - - - - - - - - - - - - - - - - - - - -
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(45deg, lighten(#222d3b, 10%) 0%, lighten(#222d3b, 1%) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

@mixin button($COLOR) {
  background: transparent;
  padding: 10px 50px;
  border: 2px solid $COLOR;
  border-radius: 3px;
  color: $COLOR;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: 0.5s;
  &:hover {
    color: white;
    background: $COLOR;
    transition-property: background, color;
  }
}

a {
  text-decoration: none;
  color: $SKYBLUE;
  transition: color 0.25s;
  &:hover {
    color: lighten($SKYBLUE, 10%);
  }
}

@mixin center-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  max-width: 560px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// ACCOUNT VIEWS
// - - - - - - - - - - - - - - - - - - - - - - - - -
#login-card {
  @include input($SKYBLUE);
  .form-module {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    background: #FFF;
    max-width: 480px;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }
  .form-module .form {
    display: none;
    padding: 40px;
  }
  .form-module .form:nth-child(2) {
    display: block;
  }
  .form-module h2 {
    margin: 0 0 20px;
    color: $SKYBLUE;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
  .form-module input {
    background-color: transparent;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .form-module input:focus {
    color: #333333;
  }
  button {
    width: 100%;
    margin-bottom: 20px;
    @include button($SKYBLUE)
  } // =======
  .toggle {
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: inline-block;
    background-color: lighten(#222d3b, 10%);
    color: #82909b;
    display: flex;
    justify-content: space-around;
  }
  .toggle .choice {
    font-size: 16px;
    width: 240px;
    height: 100%;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .toggle .choice.on {
    color: #fff;
    background-color: #222d3b;
  }
}

#forgot-password-card {
  @include center-card();
  @include input($MINTYGREEN);
  button {
    display: block;
    margin: 20px auto;
    @include button ($MINTYGREEN);
  }
}

#reset-password-card {
  @include center-card();
  @include input($MINTYGREEN);
  button {
    @include button ($MINTYGREEN);
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// MAIN UI COMPONENTS
// - - - - - - - - - - - - - - - - - - - - - - - - -
#search-card {
  @include center-card();
  @include input($SKYBLUE);
  button {
    @include button($SKYBLUE);
  }
}

#record-details-card {
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $bp-xxsmall) {
    margin-top: between(30px, 120px, $bp-xxsmall, $bp-medium);
    margin-bottom: between(30px, 60px, $bp-xxsmall, $bp-xlarge);
  }
  display: block;
  background-color: #eee;
  max-width: 560px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  .input-group {
    text-align: center;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    input {
      border: none;
      border-bottom: solid 1px #aaa;
      width: 100%;
      padding: 10px 0;
      background-color: #eeeeee;
      transition: border-color 0.2s ease, box-shadow 0.2s ease;
      &:focus {
        outline: none;
        border-color: $SKYBLUE;
        box-shadow: 0 1px 0 0 $SKYBLUE;
      }
      &:focus+label {
        color: $SKYBLUE;
      }
    }
    label {
      position: absolute;
      top: 30px;
      left: 0;
      color: darken(#aaa, 70%);
      font-weight: 300;
      transition: transform 0.2s ease, color 0.2s ease;
      &:hover {
        cursor: text;
      }
    }
  }
  .half {
    display: inline-block;
    width: 50%;
    input {
      width: 96%;
    }
  }
  .input-group input:focus+label,
  .input-group input.active+label {
    transform: translateY(-30px);
  }
  button {
    @include button($SKYBLUE);
  }
}

#edit-details-card {
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $bp-xxsmall) {
    margin-top: between(30px, 120px, $bp-xxsmall, $bp-medium);
    margin-bottom: between(30px, 60px, $bp-xxsmall, $bp-xlarge);
  }
  display: block;
  background-color: #eee;
  max-width: 560px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  .input-group {
    text-align: center;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    input {
      border: none;
      border-bottom: solid 1px #aaa;
      width: 100%;
      padding: 10px 0;
      background-color: #eeeeee;
      transition: border-color 0.2s ease, box-shadow 0.2s ease;
      &:focus {
        outline: none;
        border-color: $SKYBLUE;
        box-shadow: 0 1px 0 0 $SKYBLUE;
      }
      &:focus+label {
        color: $SKYBLUE;
      }
    }
    label {
      position: absolute;
      top: 30px;
      left: 0;
      color: darken(#aaa, 70%);
      font-weight: 300;
      transition: transform 0.2s ease, color 0.2s ease;
      &:hover {
        cursor: text;
      }
    }
  }
  .half {
    display: inline-block;
    width: 50%;
    input {
      width: 96%;
    }
  }
  .input-group input:focus+label,
  .input-group input.active+label {
    transform: translateY(-30px);
  }
  button#update {
    @include button($MINTYGREEN);
  }
}

#record-details.collection-details {
  margin: 0 auto;
  width: 100vw;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  @media (min-width: $bp-xxsmall) {
    width: between(320px, 760px, $bp-xxsmall, $bp-xlarge);
    margin-top: between(0px, 200px, $bp-xxsmall, $bp-xlarge);
    margin-bottom: between(0px, 200px, $bp-xxsmall, $bp-xlarge);
  }
  .title {
    margin-left: 10px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .stats {
    ul {
      margin-top: 0;
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      li {
        margin-top: 20px;
        list-style: none;
        background-color: #eee;
        width: 32%;
        .heading {
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
        }
        .footing {
          text-align: center;
          font-size: 18px;
          @media (min-width: $bp-xxsmall) {
            font-size: between(18px, 26px, $bp-xxsmall, $bp-xlarge);
          }
        }
      }
    }
  }
  .notes-container {
    display: flex;
    align-items: center;
    background-color: #eee;
    flex-wrap: wrap;
    margin-bottom: 10%;
    .heading {
      width: 100%;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    .footing {
      margin-top: 0;
      padding: 15px;
      width: 100%;
      font-size: 20px;
      word-wrap: break-word;
      @media (min-width) {
        font-size: between(20px, 26px, $bp-xxsmall, $bp-xlarge);
      }
    }
  }
  .btn-group {
    display: flex;
    justify-content: space-around;
    #edit-record button {
      @include button($MINTYGREEN);
      margin-bottom: 20px;
    }
    button#delete-record {
      @include button(red);
      margin-bottom: 20px;
    }
  }
}

// FLASH MESSAGES
// - - - - - - - - - - - - - - - - - - - - - - - - -
.flash-msg {
  padding: 20px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.flash-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.flash-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

// HLPER CLASS FOR FLASH MESSAGE ON HOME PAGE
// - - - - - - - - - - - - - - - - - - - - - - - - -
.home-flash {
  z-index: 9000;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.advanced-details {
  display: none;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

// Hero
// - - - - - - - - - - - - - - - - - - - - - - - - -
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .hero__image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../img/header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 25;
  }
  .hero__content {
    text-align: center;
    position: relative;
    z-index: 50;
    h1 {
      font-family: 'Playfair Display', sans-serif;
      font-size: 76px;
      @media (min-width: $bp-xxsmall) {
        font-size: between(76px, 110px, $bp-xxsmall, $bp-xlarge);
      }
      font-weight: 900;
      line-height: 1.1;
      color: #fff;
      margin: 0 0 20px 0;
    }
    h4 {
      font-family: 'Lato', sans-serif;
      font-size: 28px;
      font-weight: 300;
      color: #fff;
      margin: 0 0 0 0;
    }
  }
}

// Copy
// - - - - - - - - - - - - - - - - - - - - - - - - -
.copy {
  background-color: #f2f2f2;
  text-align: center;
  padding: 60px 25px 55px 25px;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.95;
  color: #262626;
  margin: 0 auto;
  h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: #262626;
    margin: 0 0 10px 0;
  }
  h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #262626;
    margin: 0 0 60px 0;
  }
  p {
    width: 320px;
    margin: 0 auto;
    @media(min-width: $bp-xxsmall) {
      width: between(320px, 680px, $bp-xxsmall, $bp-large)
    }
  }
}

#result-card {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .btn-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    a {
      margin-bottom: 10px;
      .confirm {
        @include button($MINTYGREEN);
        cursor: pointer;
      }
      .deny {
        @include button($PINKISH);
        cursor: pointer;
      }
    }
  }
  @include album;
}

#title {
  font-family: 'Lato', sans-serif; //'Source Sans Pro', sans-serif;
  font-size: 7rem;
  font-weight: 300;
  color: #FFF;
  text-shadow: -1px 1px 0px darken($MINTYGREEN, 5%), -2px 2px 0px darken($SKYBLUE, 10%), -3px 3px 0px darken($MINTYGREEN, 15%), -4px 4px 0px darken($SKYBLUE, 20%), -5px 5px 0px darken($MINTYGREEN, 25%);
}

#collection-heading {
  @media (min-width: $bp-xsmall) {
    margin-top: between(80px, 130px, $bp-xsmall, $bp-xlarge);
    font-size: between(40px, 70px, $bp-xsmall, $bp-xlarge);
  }
  text-align: center;
  font-family: 'PT Sans',
  sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 200;
  color: #FFF;
  text-shadow: -1px 1px 0px darken($MINTYGREEN,
  5%),
  -2px 2px 0px darken($SKYBLUE,
  10%),
  -3px 3px 0px darken($MINTYGREEN,
  15%),
  -4px 4px 0px darken($SKYBLUE,
  20%),
  -5px 5px 0px darken($MINTYGREEN,
  25%);
  &::before,
  &::after {
    content: " ";
    position: absolute;
    width: 50px;
    height: 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  &::before {
    margin: 24px 0 0 -60px;
  }
  &::after {
    margin: 24px 0 0 10px;
  }
}