@import 'navbar';
@import 'modal';
@import 'input';
@import 'foldout-cards';
@import 'form-toggle';
// RWD HELPERS //
@function between($to, $from, $toWidth, $fromWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;
  @return calc(#{$base} + #{100vw * $slope});
}

// Breakpoints
$bp-xxsmall: 320px;
$bp-xsmall: 576px;
$bp-small: 768px;
$bp-medium: 1024px;
$bp-large: 1366px;
$bp-xlarge: 1920px;
$bp-xxlarge: 2560px;
// COLORS
$PINKINSH: #EF476F;
$KINDAYELLOW: #FFD166;
$MINTYGREEN: #06D6A0;
$SKYBLUE: #118AB2;
$DARKTEAL: #073B4C;
$DARKTEAL2: #2c3e51;
// GLOBALS //
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(45deg, lighten(#35394a, 5%) 0%, lighten(#1f222e, 1%) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: $SKYBLUE;
  transition: color 0.25s;
  &:hover {
    color: lighten($SKYBLUE, 10%);
  }
}

header {
  img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

#record-details article {
  margin: 0 auto;
  width: 100vw;
  background-color: white;
  margin-top: 5rem;
  margin-bottom: 10rem;
  @media (min-width: $bp-xsmall) {
    width: between(320px, 760px, $bp-xsmall, $bp-large);
  }
  @media (min-width: $bp-large) {
    width: 760px;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// GLOBAL BUTTON STYLES
@mixin button($COLOR) {
  background: transparent;
  padding: 10px 50px;
  border: 2px solid $COLOR;
  color: $COLOR;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: 0.2s;
  &:hover {
    color: white;
    background: $COLOR;
    transition-property: background, color;
  }
}

@mixin card-center ($HEIGHT) {
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  height: $HEIGHT;
  max-width: 560px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin forms ($HEIGHT, $COLOR) {
  @include card-center($HEIGHT);
  @include input($COLOR);
  h1 {
    text-align: center;
  }
  button {
    @include button($COLOR);
    display: block;
    margin: 20px auto 20px auto;
  }
}

#login-card {
  @include forms(350px, $MINTYGREEN);
}

#signup-card {
  @include forms(430px, $MINTYGREEN);
}

#search-card {
  @include forms(430px, $MINTYGREEN);
}

#record-details-card {
  @include forms(430px, $MINTYGREEN);
}

#edit-details-card {
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  @media(min-width: $bp-xsmall) {
    margin-top: between(10px, 100px, $bp-xsmall, $bp-medium);
    margin-bottom: between(50px, 150px, $bp-xsmall, $bp-medium)
  }
  max-width: 640px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
  0 1px 2px rgba(0, 0, 0, 0.24);
  .input-group {
    text-align: center;
    position: relative;
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    input {
      border: none;
      border-bottom: solid 1px #aaa;
      width: 100%;
      padding: 10px 0;
      background-color: #eeeeee;
      transition: border-color 0.2s ease, box-shadow 0.2s ease;
      &:focus {
        outline: none;
        border-color: $SKYBLUE;
        box-shadow: 0 1px 0 0 $SKYBLUE;
      }
      &:focus+label {
        color: $SKYBLUE;
      }
    }
    label {
      position: absolute;
      top: 30px;
      left: 0;
      color: darken(#aaa, 70%);
      font-weight: 300;
      transition: transform 0.2s ease, color 0.2s ease;
      &:hover {
        cursor: text;
      }
    }
  }
  .half {
    display: inline-block;
    width: 50%;
    input {
      width: 96%;
    }
  }
  .input-group input:focus+label,
  .input-group input.active+label {
    transform: translateY(-30px);
  }
  button#update {
    @include button($MINTYGREEN);
  }
}

#forgot-password-card {
  @include forms(450px, $MINTYGREEN);
}

#reset-password-card {
  @include forms(450px, $MINTYGREEN);
}

#result-card {
  margin: 10% auto 0 auto;
  width: 25rem;
  padding: 10px;
  background-color: white;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .btn-group {
    text-align: center;
    button.confirm {
      @include button($MINTYGREEN);
      display: inline-block;
      width: 150px;
    }
    button.deny {
      @include button(red);
      display: inline-block;
      width: 150px;
    }
  }
}

#record-details.collection-details {
  #edit-record button {
    @include button($MINTYGREEN);
  }
  button#delete-record {
    @include button(red);
  }
  .stats {
    ul {
      margin-top: 0;
      padding-left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      li {
        margin-top: 20px;
        list-style: none;
        background-color: #eee;
        width: 32%;
        height: 80px;
        .heading {
          text-align: center;
          font-size: 16px;
        }
        .footing {
          text-align: center;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }
  .record {
    margin: 10px auto;
  }
}

.flash-msg {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.flash-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.flash-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.advanced-details {
  display: none;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}