#cd-nav
  a.cd-nav-trigger(href='#'): span
  nav#cd-main-nav: ul
    if user
      li: a(href='/') Home
      li: a(href='/collection') My Collection
      li: a(href='/search') Search
      li#logout: a(href='/logout') Logout
    else
      li: a(href='/entrance') Sign in / Sign up