doctype html

html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    .home-flash
      if message != ''
        .flash-msg.flash-success #{ message }
    .hero
      .hero__image#ParallaxImage
      .hero__content#ParallaxContent
        h1#title: span.underline= title
        h4#tagline= tagline
    section.copy
      h2 Welcome
      h4 "What's this about exactly?"
      p.
        LpDB is a lightweight software solution to manage your record collection and help you answer the question, "Do I already own this?" quicker as you're out riffling through records.
        Additionally, you can track how many times you have spun a particular record, add in notes, and document various details.
        This project is my very first implementation of a full stack application and was created for my server side capstone project for Thinkful.
        LpDB is powered by the incredible DiscogsAPI, MongoDB, and Javascript from the front to the back end.
      a(href='/entrance'): button Get started
        
      p: a(href='https://github.com/chrstntdd') GitHub
      br
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js')
    script(src='/scripts/parallax.js')
    script(src='/scripts/app.js')
    script(src='/scripts/nav.js')