doctype html

html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    main
      section#reset-password-card
       .flash-message #{ message }
        form(method='POST')
          legend Reset Password
            .input-group
              input.m-input(type='password' name='password' autofocus required )
              label(for='password') New Password
            .input-group
              input.m-input(type='password' name='confirm' required)
              label(for='confirm') Confirm Password
            .input-group
              button(type='submit') Update Password

    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js')
    script(src='/scripts/input.js')
    script(src='/scripts/nav.js')
