doctype html

html(lang='en')
  include includes/head.pug
  body
    include includes/nav.pug
    main
      article#signup-card
        if message != ''
          .flash-msg.flash-info #{ message }
        h1 Sign up
        form(action='/signup' method='POST' autocomplete='off')
          .input-group
            input.m-input(name='email', type='email' required)
            label(for='email' type='text') Email
          .input-group
            input.m-input(name='password', type='password' required)
            label(for='password' type='text') Password
          .input-group
            button(type='submit') Create Account

    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js')
    script(src='/scripts/input.js')
    script(src='/scripts/app.js')
    script(src='/scripts/nav.js')