#cd-nav
  a.cd-nav-trigger(href='#'): span
  nav#cd-main-nav: ul
    li: a(href='/') Home
    li: a(href='/search') Search
    li: a(href='/collection') My Colleciton
    li: a(href='/signup') Sign in / Sign up
    li: a(href='/login') Login
    li: a(href='logout') Logout