$DELTE: #ff0000;
$RETURN: #47ba6b;
@mixin button ($BUTTON_COLOR) {
  border: 1px solid $BUTTON_COLOR;
  background: rgba(0, 0, 0, 0);
  font-size: 20px;
  color: $BUTTON_COLOR;
  font-weight: 200;
  padding: 10px 28px;
  text-align: center;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $BUTTON_COLOR;
    transition: background 0.5s ease, padding 0.8s linear;
  }
}

.btn-delete {
  @include button($DELTE)
}

.btn-return {
  @include button($RETURN)
}

.overlay {
  background: rgba(255, 255, 255, 0.77);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.global-modal {
  visibility: hidden;
}

.global-modal_contents {
  background: #FFF;
  box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  width: 50%;
  position: fixed;
  left: 42%;
  margin-left: -16%;
  top: 15%;
  min-height: 450px;
  z-index: 999;
}

.global-modal-header {
  border-bottom: 1px solid #ccc;
}

.global-modal-header h3 {
  color: #34495E;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.global-modal-header .mobile-close {
  display: none;
}

.global-modal-header span {
  font-weight: 200;
}

.global-modal-body {
  width: 100%;
}

.global-modal-body p {
  color: #34495E;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

.global-modal-body .content-left {
  height: 225px;
  width: 50%;
  position: relative;
  top: 55px;
  float: left;
  border-right: 1px solid #CCC;
}

.global-modal-body .content-right {
  height: 225px;
  width: 50%;
  position: relative;
  top: 55px;
  float: left;
}

.content-right .sponsor-name {
  font-weight: bold;
  color: #000;
}

.global-modal_contents h1 {
  margin: 0;
  padding: 0;
  line-height: 32rem;
  text-align: center;
  display: block;
}

.global-modal_close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  text-decoration: none;
  display: none;
}

.global-modal-show {
  visibility: visible;
}

.global-modal-transition {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.global-modal-show .global-modal-transition {
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 1139px) {
  .global-modal p {
    text-align: center;
  }
  .global-modal:after {
    clear: both;
    content: '';
    display: table;
  }
  .global-modal-body .content-left {
    width: 80%;
    display: block;
    float: none;
    margin: 0 auto;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }
  .global-modal-body .content-right {
    width: 80%;
    display: block;
    margin: 40px auto;
    float: none;
    border-right: none;
  }
}

@media(max-width: 1027px) {
  .global-modal-header h3 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .global-modal_contents {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }
  .global-modal-header h3 {
    font-size: 22px;
  }
  .global-modal-header .mobile-close {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .global-modal_close {
    display: block;
  }
  .global-modal-transition {
    transform: translateX(-0) translateY(150%);
  }
}

@media (max-width: 495px) {
  .global-modal-header h3 {
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  .global-modal-header h3 {
    font-size: 24px;
  }
}