@import 'colors';
@import 'navbar';
@import 'record';
@import 'modal';
@import 'input';
// GLOBALS //
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(45deg, rgb(53, 57, 74) 0%, rgb(31, 34, 46) 100%);
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: $SKYBLUE;
  transition: color 0.25s;
  &:hover {
    color: lighten($SKYBLUE, 10%);
  }
}

//////////////////
header {
  img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

#record-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  article {
    margin: 10px 20px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    height: 400px;
    width: 320px;
    background-color: $KINDAYELLOW;
    a {
      text-decoration: none;
      color: #747274;
      transition: color 0.5s;
      &:hover {
        color: black;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 250px;
      }
    }
  }
}

#record-details {
  p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 4rem;
    margin: 20px auto;
    color: #0D1F2D;
    border: 1px solid black;
  }
}

// GLOBAL BUTTON STYLES
button {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid $MINTYGREEN;
  color: $MINTYGREEN;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: 0.2s;
  &:hover {
    color: white;
    background: $MINTYGREEN;
    transition-property: background, color;
  }
}

@mixin card-center ($HEIGHT) {
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  height: $HEIGHT;
  max-width: 560px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login-card {
  @include card-center(350px);
  @include input($MINTYGREEN);
  h1 {
    text-align: center;
  }
  button {
    display: block;
    margin: 20px auto 20px auto;
  }
}

#signup-card {
  @include card-center(430px);
  @include input($MINTYGREEN);
  h1 {
    text-align: center;
  }
  button {
    display: block;
    margin: 20px auto 20px auto;
  }
}