@import 'colors';
@import 'navbar';
@import 'record';
@import 'modal';

// GLOBALS //
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: $DARKTEAL2;
}

a {
  text-decoration: none;
  color: $SKYBLUE;
  transition: color 0.25s;
  &:hover {
    color: lighten($SKYBLUE, 10%);
  }
}

//////////////////

header {
  img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

label {
  display: block;
  margin: 10px auto;
  input {
    border: 1px solid black;
    padding: 12px;
    border-radius: 3px;
  }
}

#record-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  article {
    margin: 10px 20px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
    height: 400px;
    width: 320px;
    background-color: $KINDAYELLOW;
    a {
      text-decoration: none;
      color: #747274;
      transition: color 0.5s;
      &:hover {
        color: black;
      }
      img {
        display: block;
        margin: 0 auto;
        width: 250px;
      }
    }
  }
}

#record-details {
  p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 4rem;
    margin: 20px auto;
    color: #0D1F2D;
    border: 1px solid black;
  }
}

button {
  padding: 12px;
  border-radius: 3px;
  border: 1px solid black;
}