@import 'colors';
@import 'navbar';
@import 'record';
@import 'modal';
@import 'input';
@import 'foldout-cards';
// GLOBALS //
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-image: linear-gradient(45deg, rgb(53, 57, 74) 0%, rgb(31, 34, 46) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: $SKYBLUE;
  transition: color 0.25s;
  &:hover {
    color: lighten($SKYBLUE, 10%);
  }
}

//////////////////
header {
  img {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
  }
}

#record-details {
  p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 4rem;
    margin: 20px auto;
    color: #0D1F2D;
    border: 1px solid black;
  }
}

// GLOBAL BUTTON STYLES
@mixin button($COLOR) {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid $COLOR;
  color: $COLOR;
  text-transform: uppercase;
  font-size: 11px;
  transition-property: background, color;
  transition-duration: 0.2s;
  &:hover {
    color: white;
    background: $COLOR;
    transition-property: background, color;
  }
}

@mixin card-center ($HEIGHT) {
  background-color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1;
  height: $HEIGHT;
  max-width: 560px;
  width: 95%;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin forms ($HEIGHT, $COLOR) {
  @include card-center($HEIGHT);
  @include input($COLOR);
  h1 {
    text-align: center;
  }
  button {
    @include button($COLOR);
    display: block;
    margin: 20px auto 20px auto;
  }
}

#login-card {
  @include forms(350px, $MINTYGREEN);
}

#signup-card {
  @include forms(430px, $MINTYGREEN);
}

#search-card {
  @include forms(430px, $MINTYGREEN);
}

#record-details-card {
  @include forms(430px, $MINTYGREEN);
}

#edit-details-card {
  @include forms(600px, $MINTYGREEN);
}

#result-card {
  margin: 10% auto 0 auto;
  width: 25rem;
  padding: 10px;
  background-color: white;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .btn-group {
    text-align: center;
    button.confirm {
      @include button($MINTYGREEN);
      display: inline-block;
      width: 150px;
    }
    button.deny {
      @include button(red);
      display: inline-block;
      width: 150px;
    }
  }
}

#record-details.collection-details {
  #edit-record button {
    @include button($MINTYGREEN);
  }
  button#delete-record {
    @include button(red);
  }
}

#btn-rec-details {
  button {
    @include button($MINTYGREEN);
  }
}

.card {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}